* {
  font-weight: 800;
/*  font-family: "JetBrains Mono SemiBold Nerd Font Complete Mono"; */
  /*font-family: "Sauce Code Pro Semibold Nerd Font Complete Mono";*/
  /* font-family: "VictorMono NFM Semi-Bold"; */
    font-family: "MonoLisaMedium Nerd Font";
  font-size: 12px;
}

#waybar {
  background: transparent;
  color: #ABB2BF;
  transition: background-color 0.2s;
}

#waybar.ayu-dark {
  color: #ABB2BF;
}

#workspaces button {
  background: transparent;
  border: none;
  padding: 0 8px;
  color: #6c7680;
}


#waybar.ayu-dark #workspaces button.focused {
    color: #98C379;
}

#workspaces button.urgent {
    color: #E06C75;
}

#waybar.ayu-mirage #workspaces button.urgent {
    color: #E06C75;
}

#waybar.ayu-dark #workspaces button.urgent {
    color: #E06C75;
}

.modules-center {
    background: rgba(30, 30, 30, 0.5);
    border-radius: 12px;
    padding: 8px;
    margin: 10px;
}

.modules-left {
    padding: 0 20px 0 20px;
}

#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#idle_inhibitor,
#custom-browser,
#custom-terminal,
#custom-files,
#custom-editor,
#custom-keyboard,
#custom-disks,
#custom-wttr,
#custom-darksky,
#custom-system,
#custom-separator,
#custom-wlogout,
#keybard-state,
#sway-mode,
#custom-razerviperbattery,
#mode {
  padding: 0 12px;
}

#custom-xbps {
  /* background-color: #98C379; */
  background-color: #E06C75;
  color: #282C34;
  padding: 0 15px;
  /* border-radius: 10px; */
   border-radius: 12px;
   margin: 10px;
}
#custom-docker {
  background-color: #E5C07B;
  color: #282C34;
  padding: 0 15px;
  /* border-radius: 10px; */
   border-radius: 12px;
   margin: 10px;
}

#custom-razerviperbattery.warning {
  background-color: #E5C07B;
  color: #282C34;
  padding: 0 8px;
  border-radius: 12px;
  margin: 10px;
}

#custom-razerviperbattery.alert {
  background-color: #E06C75;
  color: #282C34;
  padding: 0 8px;
  border-radius: 12px;
  margin: 10px;
}

#custom-clipboard {
    padding: 0 15px;
    border-radius: 12px;
    margin: 10px;
    background: rgba(30, 30, 30, 0.5);
}

#idle_inhibitor {
  padding: 0 18px;
}

#tray {
  opacity: 0.8;
  padding: 8px;
}

#custom-system, #custom-logout, #custom-notifications {
  margin-right: 10px;
  margin-left: 10px;
  font-size: 16px;
}

